ul, ol {
	list-style-type: none;
	margin-left: 0px;
}

/* --- Index Page Styles --- */

.sidebar-nav {
	padding: 9px 0;
}

/* --- Create Page Draggable Effects --- */

.columns li,
#form-builder li {
	display: block;
	margin: 0 auto 5px;
	padding: 8px;
	width: auto;
	
	background: rgba(255, 255, 255, 0.3);
	border: 1px solid black;
	border-radius: 5px;
	
	text-align: center;
	text-decoration: none;
}

.columns li:hover,
#form-builder li:not(.placeholder):hover {
	cursor: pointer;
}

.ui-state-hover,
.ui-state-active,
.ui-state-default,
.ui-state-highlight {
	list-style-type: none;
}

.ui-placeholder {
	display: block;
	margin: 0 auto 5px;
	padding: 8px;
	width: auto;
	
	background-color: #fbf9ee;
	border: 1px solid #fcefa1;
	color: #363636;
}

/* --- View Page Table CSS --- */

#viewTableRecords th {
	cursor: pointer;
}