ul, ol {
	margin-left: 0px;
}

hr {
    margin: 5px 0px;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    width: 100%;
}

.caret-right {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid transparent;
	border-right: 4px solid #000000;
	border-bottom: 4px solid transparent;
	border-left: 0 dotted;
}

.panel-heading .caret {
	margin-top: 7px;
	float: right;
}

.panel-heading .caret-right {
	margin-top: 5px;
	float: right;
}

/* --- NavBar --- */

.tm-navbar .navbar-brand {
	color: #fff;
}

/* --- Side Navbar Styles --- */

.list-group .list-group-item {
	padding: 0;
}

.list-group input[type="radio"] {
	display: none;
}

.list-group label {
	display: block;
	margin: 0;
	padding: 10px 15px;
	width: auto;
	
	font-weight: normal;
	
	cursor: pointer;
}

.list-group input[type="radio"]:checked + label {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}

.panel-title > a {
	cursor: pointer;
}

/* --- Create/Edit Page Styles --- */

.question {
    padding: 5px 0px;
    border-top: 1px solid #ddd;
}

.question:not(:first-child) {
    margin-top: 5px;
}

.question h4 {
    margin-top: 0px;
}

.question input ~ a.close {
	float: none;
}

.select2-container .select2-choices {
	border-radius: 4px;
}

.select2-container-multi .select2-choices .select2-search-field input {
	padding: 6px 12px;
}

/* --- Response Page CSS --- */

.response-content {
    margin-left: -20px;
}

/* --- View Page Table CSS --- */

.header {
	cursor: pointer;
}